/*********************************** Estilo da index.html *************************************/

.cabecalho {
    height: 250px;
}


/*FAST FOOD DELICIUS*/

.text_fonte {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.text_position {
    margin-left: 9.5px;
    color: red;
}

.caixaLogo {
    margin-top: 25px;
}


/*imagem do cabeçalho*/

.cabecalho_imagem {
    height: 150px;
    width: 190px;
}

.consulta {
    position: absolute;
    margin-left: 35px;
    width: 600px;
}

.blocoCarousel_1 {
    height: 230px;
    width: 700px;
    padding: 20px;
    margin: 200px auto;
    background-color: red;
    margin-top: 10px;
}

.caroucel_1 {
    width: 310px;
    margin-left: 373px;
    margin-top: -24px;
}

.texto_promocao_config {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    margin-top: -240px;
    margin-left: 35px;
    font-size: 45px;
    font-weight: bold;
    color: seashell;
}

.do {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 135px;
    margin-top: -168px;
    font-size: 40px;
    font-weight: bold;
    color: seashell;
}

.dia {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 110px;
    margin-top: -130px;
    font-size: 60px;
    font-weight: bold;
    color: seashell;
}

.tamContainerImagem {
    width: 750px;
    height: 170px;
    margin-left: -45px;
    margin-top: 20px;
}

.tam_imagem {
    width: 200px;
    height: 170px;
}

.oferta {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -240px;
    margin-left: 260px;
    font-size: 35px;
    font-weight: bold;
    color: black;
}

.da {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 310px;
    margin-top: -168px;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.semana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 243px;
    margin-top: -100px;
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.indexPage {
    height: 900px;
}


/**********************************************************************************************/


/************************************ CadastrarRestaurante.html********************************/

.formulario {
    width: 600px;
    margin-left: 750px;
    margin-top: 60px;
}

.posButton {
    margin-left: 245px;
}

.imagemCadastroRestaurante {
    position: absolute;
    margin-left: 100px;
    margin-top: 250px;
}

.vendaMaisComRestaurante {
    position: absolute;
    margin-left: 340px;
    margin-top: 160px;
}

.vendaMaisComRestauranteText {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: black;
}


/**********************************************************************************************/


/***************************************** login.html*****************************************/

.LoginForm {
    background-color: rgb(250, 200, 200);
    padding: 3px;
    width: 400px;
    height: 200px;
    margin-left: 600px;
    margin-top: 70px;
}

.botaoLogin {
    margin-left: 130px;
    margin-top: 10px;
    width: 130px;
}


/**********************************************************************************************/