

body{
  width: 100%;
  height: auto;
 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   text-align: center;
    
padding-bottom: 40px;
background-color: #FFE4E1;
   
}
nav{
width: 800px;
 display: inline-flex;
 padding-top: 10px;
 
}
 
nav div{
  padding-left: 0px;
  width: 33.333%;
  height: 100%;
  
     margin-left: 0px;

}
.logo img{
  width: 80%;
  height: 80%;
}
 a{
   
text-decoration: none;
    }
    .titulo1{
      font-family: "Russo One";
      text-align: center;
      font-size: 50px;
      font-weight: bolder;
    }
    
    .titulo2{
      font-family: "Russo One";
      color:#FF0000;
      text-align: center;
      font-size: 50px;
      font-weight: bolder;
      top: auto;
    }
 

   nav div ul {
     margin: auto 0px;
     display: inline-flex;
     justify-content: right;
}
   nav div ul li{
list-style-type: none;  
 padding-left: 5px;
   }
    h2{
       font-size: 200%;
       color: black;
       display: inline;
       align-items:center ;
        padding: 10%;
       
   }
/*******************************/

    .sect1{
        background-color:#D02828;
        width: 100%;
        height: 100%;
       max-width: 800px;
     padding-right: 5px;
       justify-content: center;
       align-items: center;
      display: grid;
      
    }

    .sect1 > .boxPromocao{
      width: 100%;
      height: 100%;
    display:flex;
    align-items: center;
   
    }
   
    .sect1 > .boxPromocao > .titulo{
        width: 20%;
        height: 100%;
        display:flex;
        align-items: center;
        
        }
        
   
     .sect1 > .boxPromocao > .listaPromocao{
        width: 100%;
        height: 100%;
        display: inline-flex;
        align-items: center;
            
            }
     
       .lista {
        width: 100%;
        height: 80%;
         display: inline-flex;
        list-style: none;
        align-items: center;
               
                }
       .lista li {
        padding: 5px;
        width: 50%;
        height: 180px;
        align-items: center;
        background-color: #FFE4E1;
        
       
       }
       .lista li img{
       
           width: 100%;
           height: 100%;
         align-items: center;
      
       }

     .itemCaixa1{
        
  
        align-items: center;
        padding: 5px;
 text-align: right;
 
     }
    
   
 
     /**********************************/      
  .sect2{
    background-color: transparent;
   width: 100%;
   
   height: 250px;
   max-width: 800px;
   
   justify-content: center;
   align-items: center;
 
   display: grid;
   padding-top: 50px;
  padding-bottom: 50px;
}

.sect2 > .boxPromocao2{
  width: 100%;

  height: 100%;
display:grid;
align-items: center;
flex-direction: column;
text-align: center;
justify-content: center;

}

.sect2 > .boxPromocao2 > .titulo{
    width: 100%;
  
    height: 100%;
    align-items: center;
  
}
    

 .sect2 > .boxPromocao2 > .listaPromocao2{
    width: 100%;
    
      height: 100%;
    display:flex;
    align-items: center;

        
        }
 
   .lista2 {
    width: 100%;
 
      height: 80%;
     display: inline-flex;
    list-style: none;
    align-items: center;          
  
    padding: 0px;
            }
   .lista2 li {
    padding: 5px;
    width: 100%;
    height: 100%;
    align-items: center;
    
    ;
    
   }
   .lista2 li img{
   
       width: 100%;
       height: 100%;
     align-items: center;
  
   }

 .itemCaixa2{
  
  align-items: center;
  padding: 5px;
text-align: right;
 }

  /*************************************/  
          .suporte div{
            padding-top: 20px;
          }
footer{
  align-items: center;
  padding-bottom: 20px;

}

/** Formatação menu e formulário **/

.menu ul{
  padding:30px;
  margin:30px;
  background-color:#FFE4E1;
  list-style:none;
}

.menu ul li {
   display: inline; 
    
}

.menu ul li a {
  padding: 2px 10px;
  display: inline-block;

  /* visual do link */
  background-color:#EDEDED;
  color: #333;
  text-decoration: none;
  border-bottom:3px solid #EDEDED;
  border-radius: 30px;
}

.menu ul li a:hover {
  background-color:#D6D6D6;
  color: #6D6D6D;
  border-bottom:3px solid #EA0000;
}



/**Estilos para os Formularios**/

.formulario{
  display: flex;
  flex-direction: column;
  height: 350px;
  width:  500px;
  background-color: #d028289a;
  border-radius: 10px ;
}
.form_login{
  flex-direction: column;
  height: 260px;
  width:  400px;
  background-color: #d028289a;
  border-radius: 10px ;
}

.texto{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #EDEDED;
    font-size: 40px;
}

.inputEntrar{
  border-radius: 10px;
  width: 150px;
  height: 25px;
}

.login,.senha {
    width: 300px;
    height: 25px;
}

.flex-item{
  flex: 0.3px;
}

input{
  border-radius: 10px;
}

.forms_inputs{
  width: 400px;
}

label{
  color: #D6D6D6;
  font-weight: bold;
  
}